<div class="d-flex justify-content-around">
    <a href="/">home</a>
    <a href="/user/login">login</a>
    <a href="/user/signup">signup</a>
    <a href="/product/create">product create</a>
    <a href="/product/page">products</a>
  </div>